# Data loading and observing
Load the **life_expectancy.csv** dataset into a pandas DataFrame by first importing pandas, and then using the `pandas.read_csv()` function to load the file and assign the resulting DataFrame to a variable called `dataset`.

In [2]:
import pandas as pd

dataset = pd.read_csv("life_expectancy.csv")

Observe the data by printing the first five entries in the DataFrame `dataset` by using the `DataFrame.head()` function. Make sure to see what the columns are and what the data types are. Locate the feature we would like to predict: `life expectancy`. Use 7DataFrame.describe()7 to see the summary statistics of the data.

In [6]:
dataset.head()

       Country  Year  ... Schooling  Life expectancy
0  Afghanistan  2015  ...      10.1             65.0
1  Afghanistan  2014  ...      10.0             59.9
2  Afghanistan  2013  ...       9.9             59.9
3  Afghanistan  2012  ...       9.8             59.5
4  Afghanistan  2011  ...       9.5             59.2

[5 rows x 22 columns]

In [7]:
dataset.columns

Index(['Country', 'Year', 'Status', 'Adult Mortality', 'infant deaths',
       'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',
       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',
       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',
       ' thinness 5-9 years', 'Income composition of resources', 'Schooling',
       'Life expectancy'],
      dtype='object')

In [5]:
dataset.describe()

              Year  Adult Mortality  ...    Schooling  Life expectancy
count  2938.000000      2938.000000  ...  2938.000000      2938.000000
mean   2007.518720       164.725664  ...    12.009837        69.234717
std       4.613841       124.086215  ...     3.265139         9.509115
min    2000.000000         1.000000  ...     0.000000        36.300000
25%    2004.000000        74.000000  ...    10.300000        63.200000
50%    2008.000000       144.000000  ...    12.300000        72.100000
75%    2012.000000       227.000000  ...    14.100000        75.600000
max    2015.000000       723.000000  ...    20.700000        89.000000

[8 rows x 20 columns]

Drop the Country column from the DataFrame using the `DataFrame` drop method. Why? To create a predictive model, knowing from which country data comes can be confusing and it is not a column we can generalize over. We want to learn a general pattern for all the countries, and not only those dependent on specific countries.

In [14]:
dataset = dataset.drop(columns = ["Country"])

In the next two steps, you will split the data into labels and features. Labels are contained in the “Life expectancy” column. It’s the final column in the DataFrame. Create a new variable called `labels`. Use `iloc` indexing to assign the final column of `dataset` to it.

In [15]:
labels = dataset.iloc[:, -1]
labels

0       65.0
1       59.9
2       59.9
3       59.5
4       59.2
        ...
2933    44.3
2934    44.5
2935    44.8
2936    45.3
2937    46.0
Name: Life expectancy, Length: 2938, dtype: float64

Features span from the first column to the last column (not including it, since it’s a label column in our dataset). Create a new variable called `features`. Use `iloc` indexing to assign a subset of columns from first to last (not including the last column) to it.

In [16]:
features = dataset.iloc[:, : -1]
features

      Year      Status  ...  Income composition of resources  Schooling
0     2015  Developing  ...                            0.479       10.1
1     2014  Developing  ...                            0.476       10.0
2     2013  Developing  ...                            0.470        9.9
3     2012  Developing  ...                            0.463        9.8
4     2011  Developing  ...                            0.454        9.5
...    ...         ...  ...                              ...        ...
2933  2004  Developing  ...                            0.407        9.2
2934  2003  Developing  ...                            0.418        9.5
2935  2002  Developing  ...                            0.427       10.0
2936  2001  Developing  ...                            0.427        9.8
2937  2000  Developing  ...                            0.434        9.8

[2938 rows x 20 columns]

# Data Preprocessing
When you observed your dataset you probably noticed that some columns are categorical. We learned in this lesson that categorical columns need to be converted into numerical columns using methods such as one-hot-encoding. Use `pandas.get_dummies(DataFrame)` to apply one-hot-encoding on all the categorical columns. Assign the result of the encoding back to the `features` variable.

In [19]:
features = pd.get_dummies(features)
features

      Year  Adult Mortality  ...  Status_Developed  Status_Developing
0     2015            263.0  ...                 0                  1
1     2014            271.0  ...                 0                  1
2     2013            268.0  ...                 0                  1
3     2012            272.0  ...                 0                  1
4     2011            275.0  ...                 0                  1
...    ...              ...  ...               ...                ...
2933  2004            723.0  ...                 0                  1
2934  2003            715.0  ...                 0                  1
2935  2002             73.0  ...                 0                  1
2936  2001            686.0  ...                 0                  1
2937  2000            665.0  ...                 0                  1

[2938 rows x 21 columns]

Split your data into training set and test sets using the `sklearn.model_selection.train_test_split()` function. Assign

* the training features to a variable called `features_train`
* training labels to a variable called `labels_train`
* test data to a variable called `features_test`
* test labels to a variable called `labels_test`.

You can choose any percentage for `test_size` and any value for `random_state`.

In [21]:
from sklearn.model_selection import train_test_split

features_train, features_test, labels_train, labels_test = train_test_split(
    features, 
    labels, 
    test_size = 0.33,         # we chose the test size to be 33% of the total data,
    random_state = 42
)

The next step is to standardize/normalize your numerical features. You can pick whichever method you want. In this step, create a `sklearn.compose.ColumnTransformer` instance called `ct` to set up the normalization/standardization procedure. When initializing `ColumnTransformer` make sure to list all of the numerical features you have in your dataset. Or use `DataFrame.select_dtypes()` to select `float64` or `int64` feature types automatically.

In [22]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.compose import ColumnTransformer

numerical_features = features.select_dtypes(
    include = ['float64', 'int64']
)
numerical_columns = numerical_features.columns

ct = ColumnTransformer(
    [(
        "only numeric", 
        StandardScaler(), 
        numerical_columns 
    )], 
    remainder = "passthrough"
)

Fit your instance `ct` of `ColumnTransformer` to the training data and at the same time transform it by using the `ColumnTransformer.fit_transform()` method. Assign the result to a variable called `features_train_scaled`.

In [23]:
features_train_scaled = ct.fit_transform(features_train)

Transform your test data instance `features_test` using the trained `ColumnTransformer` instance `ct`. Assign the result to a variable called `features_test_scaled`.

In [24]:
features_test_scaled = ct.transform(features_test)

# Building the model
Create an instance of the `tensorflow.keras.models.Sequential` model called `my_model`.

In [27]:
from tensorflow.keras.models import Sequential

my_model = Sequential()

Create the input layer to the network model using `tf.keras.layers.InputLayer` with the shape corresponding to the number of features in your dataset. Assign the resulting input layer to a variable called `input`.

In [28]:
from tensorflow.keras.layers import InputLayer

input = InputLayer(input_shape = (features.shape[1], ))

Add the input layer from the previous step to the model instance `my_model`.

In [29]:
my_model.add(input)

Add one `keras.layers.Dense` hidden layer with any number of hidden units you wish. Use the `relu` activation function.

In [30]:
from tensorflow.keras.layers import Dense

my_model.add(
    Dense(
        64, 
        activation = "relu" 
    )
)

Add a `keras.layers.Dense` output layer with one neuron since you need a single output for a regression prediction.

In [31]:
my_model.add(Dense(1))


Print the summary of the model using the `Sequential.summary()` method.

In [32]:
print(my_model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 64)                1408
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 65
=================================================================
Total params: 1,473
Trainable params: 1,473
Non-trainable params: 0
_________________________________________________________________
None

# Initializing the optimizer and compiling the model
Create an instance of the `Adam` optimizer with the learning rate equal to 0.01.

In [33]:
from tensorflow.keras.optimizers import Adam

opt = Adam(learning_rate = 0.01)

Once your optimizer is initialized, compile the model using the `Sequential.compile()` method.

Assign the following parameters:

* For `loss` use the Mean Squared Error (`mse`)
* For `metrics` use the Mean Absolute Error (`mae`)
* For `opt` (the optimizer parameters) use the instance of the optimizer you created in the previous step.

In [34]:
my_model.compile(
    loss = "mse",  
    metrics = ["mae"], 
    optimizer = opt
)

# Fit and evaluate the model
Train your model with the `Sequential.fit()` method by passing it the following parameters:

* your preprocessed training data
* training labels
* number of epochs equal to 40
* batch size equal to 1
* verbose set to 1

In [35]:
my_model.fit(
    features_train_scaled,
    labels_train,
    epochs = 40,
    batch_size = 1,
    verbose = 1
)

Epoch 1/40
1968/1968 [==============================] - 3s 2ms/step - loss: 167.7844 - mae: 6.8683
Epoch 2/40
1968/1968 [==============================] - 3s 2ms/step - loss: 30.7954 - mae: 4.0207
Epoch 3/40
1968/1968 [==============================] - 3s 2ms/step - loss: 23.5166 - mae: 3.6055
Epoch 4/40
1968/1968 [==============================] - 3s 2ms/step - loss: 22.9636 - mae: 3.3925
Epoch 5/40
1968/1968 [==============================] - 3s 2ms/step - loss: 22.3851 - mae: 3.2759
Epoch 6/40
1968/1968 [==============================] - 3s 2ms/step - loss: 18.6724 - mae: 3.1143
Epoch 7/40
1968/1968 [==============================] - 3s 2ms/step - loss: 18.0762 - mae: 3.0505
Epoch 8/40
1968/1968 [==============================] - 3s 2ms/step - loss: 19.9622 - mae: 3.0616
Epoch 9/40
1968/1968 [==============================] - 3s 2ms/step - loss: 15.2619 - mae: 2.7682
Epoch 10/40
1968/1968 [==============================] - 3s 2ms/step - loss: 14.0126 - mae: 2.7418
Epoch 11/40
1968/1968 [==============================] - 3s 2ms/step - loss: 16.0582 - mae: 2.8149
Epoch 12/40
1968/1968 [==============================] - 3s 2ms/step - loss: 12.6937 - mae: 2.6343
Epoch 13/40
1968/1968 [==============================] - 3s 2ms/step - loss: 13.0517 - mae: 2.5914
Epoch 14/40
1968/1968 [==============================] - 3s 2ms/step - loss: 14.5861 - mae: 2.6894
Epoch 15/40
1968/1968 [==============================] - 3s 2ms/step - loss: 12.4118 - mae: 2.5656
Epoch 16/40
1968/1968 [==============================] - 3s 2ms/step - loss: 13.0267 - mae: 2.5973
Epoch 17/40
1968/1968 [==============================] - 3s 2ms/step - loss: 10.5099 - mae: 2.4195
Epoch 18/40
1968/1968 [==============================] - 3s 2ms/step - loss: 10.5270 - mae: 2.3873
Epoch 19/40
1968/1968 [==============================] - 3s 2ms/step - loss: 12.0544 - mae: 2.3916
Epoch 20/40
1968/1968 [==============================] - 3s 2ms/step - loss: 9.5676 - mae: 2.3198
Epoch 21/40
1968/1968 [==============================] - 3s 2ms/step - loss: 11.2429 - mae: 2.4308
Epoch 22/40
1968/1968 [==============================] - 3s 2ms/step - loss: 9.2236 - mae: 2.2461
Epoch 23/40
1968/1968 [==============================] - 3s 2ms/step - loss: 9.1630 - mae: 2.2793
Epoch 24/40
1968/1968 [==============================] - 3s 2ms/step - loss: 10.6689 - mae: 2.3576
Epoch 25/40
1968/1968 [==============================] - 3s 2ms/step - loss: 10.2083 - mae: 2.3263
Epoch 26/40
1968/1968 [==============================] - 3s 2ms/step - loss: 8.7432 - mae: 2.2021
Epoch 27/40
1968/1968 [==============================] - 3s 2ms/step - loss: 10.3544 - mae: 2.3887
Epoch 28/40
1968/1968 [==============================] - 3s 2ms/step - loss: 10.3113 - mae: 2.2653
Epoch 29/40
1968/1968 [==============================] - 3s 2ms/step - loss: 9.1707 - mae: 2.1981
Epoch 30/40
1968/1968 [==============================] - 3s 2ms/step - loss: 8.7479 - mae: 2.1455
Epoch 31/40
1968/1968 [==============================] - 3s 2ms/step - loss: 8.7102 - mae: 2.1532
Epoch 32/40
1968/1968 [==============================] - 3s 2ms/step - loss: 9.3323 - mae: 2.1360
Epoch 33/40
1968/1968 [==============================] - 3s 2ms/step - loss: 9.4706 - mae: 2.1795
Epoch 34/40
1968/1968 [==============================] - 3s 2ms/step - loss: 8.1564 - mae: 2.1230
Epoch 35/40
1968/1968 [==============================] - 3s 2ms/step - loss: 8.2423 - mae: 2.1077
Epoch 36/40
1968/1968 [==============================] - 3s 2ms/step - loss: 9.4169 - mae: 2.1942
Epoch 37/40
1968/1968 [==============================] - 3s 2ms/step - loss: 7.7024 - mae: 2.0299
Epoch 38/40
1968/1968 [==============================] - 3s 2ms/step - loss: 8.0426 - mae: 2.0745
Epoch 39/40
1968/1968 [==============================] - 3s 2ms/step - loss: 8.3321 - mae: 2.0873
Epoch 40/40
1968/1968 [==============================] - 3s 2ms/step - loss: 7.4459 - mae: 1.9781

Using the `Sequential.evaluate()` method, evaluate your trained model on the preprocessed test data set, and with the test labels. Set verbose to 0. Store the result of the evaluation in two variables: `res_mse` and `res_mae`.

In [37]:
res_mse, res_mae = my_model.evaluate(
  features_test_scaled, 
  labels_test, 
  verbose = 0
)

Print your final loss (RMSE) and final metric (MAE) to check the predictive performance on the test set.

In [38]:
print("RMS: ", res_mse)
print("MAE: ", res_mae)

RMS:  7.8520588874816895
MAE:  2.0885465145111084